.pokemon__header {
  display: flex;
  justify-content: space-between;
  padding: 5px;
  border-bottom: 1px solid gray;
}
.pokemon__type {
  margin-left: 5px;
  text-transform: capitalize;
}

.pokemon__primaryInfo {
  display: flex;
  justify-content: space-evenly;
  padding: 5px;
  border-bottom: 1px solid gray;
}

.pokemon__image {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
}
.pokemon__image > img {
  width: 40%;
}

.pokemon__image,
.pokemon__stats {
  flex: 1;
  padding: 1rem;
}
.pokemon__stats > h1 {
  text-transform: capitalize;
  margin-bottom: 5px;
}
.pokemon__stat,
.pokemon__statDescription {
  padding-bottom: 5px;
}
.pokemon__statName {
  font-weight: bold;
}

.pokemon__secondaryInfo {
  display: flex;
  justify-content: space-evenly;
}
.profile__left,
.profile__right {
  flex: 1;
  padding: 1rem;
}
.profile {
  text-transform: capitalize;
  padding-bottom: 5px;
}
.profile__title {
  font-weight: bold;
}

.MuiLinearProgress-bar {
  background-color: #cc0000 !important;
}
