.pokemonCard__frame {
  background-color: white;
  flex-basis: 20%;
  margin-bottom: 10px;
  border: 1px solid black;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-around;
  cursor: pointer;
  display: flex;
}

.pokemonCard {
  flex: 1;
}

.pokemonCard__header {
  background-color: lightgray;
  border-bottom: 1px solid black;
  padding-top: 3px;
  padding-bottom: 3px;
}

.pokemonCard__title {
  text-align: center;
  padding: 3px;
}