footer {
  display: flex;
  align-items: center;
  border-top: 3px solid #cc0000;
  padding: 15px;
  margin-top: 15px;
}
.footer__apiLink {
  text-decoration: none;
  color: #cc0000;
  font-weight: bold;
}
