.navbar {
  display: flex;
  align-items: center;
  border-bottom: 3px solid #CC0000;
  padding: 15px;
  margin-bottom: 15px;
}

.navbar__title {
  text-decoration: none;
  color: #CC0000;
  font-weight: bold;
}
