* {
  margin: 0;
}

.app {
  min-height: 100vh;
  max-width: 1300px;
  margin: auto;
  display: flex;
  flex-direction: column;
  padding-left: 1rem;
  padding-right: 1rem;
}
.container {
  flex-grow: 1;
}

a {
  text-decoration: none;
  color: black;
}
